<footer class="footer" *ngIf="todos.length">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong [ngStyle]="styleObj">{{getLeftCount(todos)}}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a [ngClass]="{selected: currentSelected === 'all'}" href="#" (click)="onFilterStatus('all')">All</a>
    </li>
    <li>
      <a [ngClass]="{selected: currentSelected === 'active'}" href="#" (click)="onFilterStatus('active')">Active</a>
    </li>
    <li>
      <a [ngClass]="{selected: currentSelected === 'completed'}" href="#" (click)="onFilterStatus('completed')">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="onClearCompleted(true)">Clear completed</button>
</footer>
